@import 'mixin.scss';
@import 'color.scss';
@import 'font.scss';
@import 'reset.scss';

.mobile-only {
	display: inline-block;

	@include tablet {
		display: none;
	}

	@include desktop {
		display: none;
	}
}

.tablet-only {
	display: none;

	@include tablet {
		display: inline-block;
	}

	@include desktop {
		display: none;
	}
}

.desktop-only {
	display: none;

	@include tablet {
		display: none;
	}

	@include desktop {
		display: inline-block;
	}
}

.pointer {
	cursor: pointer;
}

.line {
	border-top: 1px solid #d0d0d0;
}

.m20 {
	margin: 20px;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.mt40 {
	margin-top: 40px;
}

.mt50 {
	margin-top: 50px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.ml30 {
	margin-left: 30px;
}
.ml-0-30-30 {
	margin-left: 0;
	@include tablet {
		margin-left: 30px;
	}
	@include desktop {
		margin-left: 30px;
	}
}

.container {
	max-width: $desktop-width;
	margin: auto;
	padding: 30px;
}

.center {
	text-align: center;
}

.search-form {
	width: 330px;
	max-width: 330px;
	height: 50px;
	border-radius: 4px;
	border: solid 1px #dbdbdb;
}

.search-button {
	width: 120px;
	height: 50px;
	border-radius: 4px;
	background-color: var(--greenblue);
}
