@import "mixin.scss";
@import "color.scss";
@import "font.scss";
@import "reset.scss";

.mobile-only {
    display: inline-block;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.tablet-only {
    display: none;

    @include tablet {
        display: inline-block;
    }

    @include desktop {
        display: none;
    }
}

.desktop-only {
    display: none;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: inline-block;
    }
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.ml10 {
    margin-left: 10px
}



:root {
    --charcoal-grey: #393f45;
    --aqua-marine: #34d499;
    --charcoal-grey-two: #272c31;
    --black: #000000;
    --pale-grey: #f6f7f9;
    --white-1: rgba(255, 255, 255, 0.01);
    --cool-grey: #9da6af;
    --greenblue: #24c185;
    --very-light-pink: #d8d8d8;
    --ice-blue: #eef0f2;
    --black-two: #363636;
    --very-light-pink-two: #bdbdbd;
    --white: #ffffff;
    --dark-slate-blue: #0e233f;
    --light-periwinkle: #d6dbe0;
    --grapefruit: #ff5d5d;
  }
  
  /* Text styles */
  
  @mixin Text1-1 {
    font-family: NotoSansKR;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--charcoal-grey);
  }
  
  @mixin Text1-2 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--charcoal-grey);
  }
  
  .Text1-3 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: var(--very-light-pink-two);
  }
  
  button {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--white);
  }
  
  .Text1-5 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: -0.4px;
    text-align: center;
    color: var(--charcoal-grey-two);
  }
  
  .Text1-6 {
    font-family: NotoSansKR;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: -1.4px;
    text-align: center;
    color: var(--aqua-marine);
  }
  
  @mixin Text1-7 {
    font-family: NotoSansKR;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: -1.4px;
    color: var(--black);
  }
  
  @mixin Text1-8 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: var(--black);
  }
  
  @mixin Text1-9 {
    font-family: NotoSansKR;
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: -1.4px;
    color: var(--charcoal-grey);
  }
  
  @mixin Text1-10 {
    font-family: NotoSansKR;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: -1.4px;
    text-align: center;
    color: var(--black);
  }
  
  .Text1-11 {
    font-family: NotoSansKR;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: var(--black);
  }
  
  .Text1-12 {
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: -0.3px;
    color: var(--cool-grey);
  }
  
  .Text1-13 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.5px;
    color: var(--ice-blue);
  }
  
  @mixin Text2-1 {
    font-family: AppleSDGothicNeo;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--charcoal-grey);
  }
  
  .Text2-2 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.3px;
    color: var(--black-two);
  }
  
  .ToolbarText2 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    color: var(--white);
  }
  
  .ToolbarText1 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    color: var(--black-two);
  }
  
  @mixin Text4-1 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    color: var(--charcoal-grey);
  }
  
  .Text4-2 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    color: var(--white);
  }
  
  .Text4-3 {
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.8px;
    color: var(--black);
  }
  
  .Text4-4 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    color: var(--greenblue);
  }
  
  .Text4-5 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    color: #495057;
  }
  
  .Text4-6 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--black-two);
  }
  
  .Text4-7 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.3px;
    text-align: center;
    color: #495057;
  }
  
  .Text4-8 {
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    color: #495057;
  }
  
  .Text5-1 {
    font-family: NotoSansKR;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: -1.4px;
    color: var(--charcoal-grey);
  }
  
  .Text5-2 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: var(--charcoal-grey);
  }
  
  .Button2 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--white);
  }
  
  .Text5-3 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.86;
    letter-spacing: normal;
    color: var(--charcoal-grey-two);
  }
  
  .Text5-4 {
    font-family: NotoSansKR;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.8px;
    color: var(--charcoal-grey);
  }
  
  .Text5-5 {
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.3px;
    color: var(--black);
  }
  
  .Text5-4 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.86;
    letter-spacing: normal;
    color: #4d5256;
  }
  
  @mixin TextM1-1 {
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.8px;
    text-align: center;
    color: var(--charcoal-grey);
  }
  
  @mixin TextM1-2 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--charcoal-grey);
  }
  
  @mixin TextM1-9 {
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.9px;
    color: var(--charcoal-grey);
  }
  
  @mixin TextM1-10 {
    font-family: Montserrat;
    font-size: 14.4px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--greenblue);
  }
  
  @mixin TextM2-1 {
    font-family: AppleSDGothicNeo;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.8px;
    text-align: center;
    color: var(--charcoal-grey);
  }
  
  @mixin TextM4-1 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.3px;
    color: var(--charcoal-grey);
  }
  
  .Text6-1 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #495057;
  }
  
  .Text6-2 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.3px;
    color: var(--charcoal-grey-two);
  }
  
  .Text6-3 {
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: -0.3px;
    color: var(--cool-grey);
  }
  
  .Text6-4 {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.4px;
    color: var(--black-two);
  }
  
  .Text6-5 {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: var(--grapefruit);
  }
  